{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxsingleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": true
}
