.header {
  padding-inline: $spacer-md;
  padding-top: $spacer-2xl;
  margin-block: 0;
  overflow: hidden;

  &__heading {
    @include grid-flow-row;
    gap: $spacer-xl;
    margin-block: $spacer-xl;
    align-self: start;

    @include screen('large') {
      margin-block: $spacer-2xl;
    }
  }

  &__cover {
    position: relative;
    isolation: isolate;

    width: 100%;
    height: rem(400);
    max-width: rem(400);
    overflow: hidden;
    aspect-ratio: 1 / 1;

    @include screen('medium') {
      height: rem(500);
    }

    @include screen('xlarge') {
      height: rem(450);
    }
  }

  &__title {
    font-family: $heading;
    @include font('h3');
  }
}

// MOVING GRADIENT
.header {
  position: relative;
  isolation: isolate;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    width: 100%;
    height: 100%;

    max-width: rem(300);
    max-height: rem(300);
    aspect-ratio: 1 / 1;

    background-image: repeating-linear-gradient(
      to left,
      #faa2c1,
      #74c0fc,
      #ffa8a8,
      #ffe066
    );

    // border-radius: 50%;

    filter: blur(80px) opacity(0.85);

    animation: gradient-animation 5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      infinite;
  }

  @include screen('tablet') {
    &::before {
      left: 80%;
    }
  }
}

.container--grid {
  @include grid-flow-row;
  gap: $spacer-xl;
  height: 90vh;

  @include screen('tablet') {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 1fr;
    column-gap: $spacer-xl;
    row-gap: 0;
    height: rem(500);
  }

  @include screen('medium') {
    height: rem(450);
  }

  @include screen('xlarge') {
    height: rem(550);
  }

  .header__cover {
    justify-self: end;
    align-self: end;
  }
}

@keyframes gradient-animation {
  0% {
    transform: translate(-50%, -50%);
    background-position: rem(0);
  }
  50% {
    transform: translate(-60%, -50%);
    background-position: rem(400);
    background-size: rem(1200);
  }
  100% {
    transform: translate(-50%, -50%);
    background-position: rem(0);
  }
}
