/* Neutral */
$white: hsl(341, 8%, 98%);
$light-gray: hsl(341, 35%, 95%);
$mid-gray: hsl(341, 10%, 75%);
$dark-gray: hsl(341 10% 10%);
$black: hsl(341, 5%, 2%);

$primary: hsl(341, 36%, 31%);
$secondary: hsl(80, 36%, 31%);

$info: hsl(220, 36%, 31%);
$caution: hsl(50, 36%, 31%);
$success: hsl(100, 36%, 31%);
$danger: hsl(0, 36%, 31%);

/******  BOX SHADOW ******/
$box-shadow--small: 0px 2px 4px 0
  transparentize(
    $color: $black,
    $amount: 0.15,
  );

$box-shadow--large: 0px 8px 20px 0
  transparentize(
    $color: $black,
    $amount: 0.06,
  );
