.container--grid {
  padding: $spacer-md;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto 1fr;
  row-gap: $spacer-lg;

  .navbar__logo,
  .navbar__toggles {
    grid-row: 1 / 2;
  }
  .navbar__logo {
    grid-column: 1 / 2;
    justify-self: start;
  }
  .navbar__toggles {
    grid-column: 2 / -1;
    justify-self: end;
  }
  .navbar__menu {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    justify-self: stretch;
  }

  @include screen('tablet') {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;

    .navbar__group {
      grid-row: 1 / -1;
    }

    .navbar__toggles {
      grid-column: -1 / -2;
      justify-self: end;
    }
    .navbar__logo {
      grid-column: 1 / 2;
      justify-self: start;
    }
    .navbar__menu {
      grid-column: 2 / -2;
      justify-self: center;
    }
  }
}

.navbar {
  position: fixed;
  inset: 0 0 auto;
  isolation: isolate;
  z-index: 100;
  width: 100%;
  min-height: $nav-height;
  @include bg-main;

  &__toggles {
    @include grid-flow-col;
  }
}

.button--toggle {
  @include screen('tablet') {
    display: none;
  }
}
