$breakpoint: (
  //640px
  tablet: 40em,
  //1024px
  medium: 64em,
  //1440px
  large: 90em,
  //1920px
  xlarge: 120em
);

$breakpoint-up: (
  tablet: 39.98em,
  medium: 63.98em,
  large: 89.98em,
  xlarge: 119.98em,
);

@mixin screen($size) {
  @media only screen and (min-width: map-get($breakpoint, $size)) {
    @content;
  }
}

@mixin screen-up($size) {
  @media only screen and (max-width: map-get($breakpoint-up, $size)) {
    @content;
  }
}
@mixin screen-min-max($max, $min) {
  @media only screen and (max-width: map-get($breakpoint-up, $max)) and (min-width: map-get($breakpoint-up, $min)) {
    @content;
  }
}
