@use 'partials' as *;

.button {
  width: fit-content;
  min-height: rem(40);

  font-weight: 600;
  @include font('body-lg');

  text-decoration: none;
  text-transform: capitalize;

  padding: rem(12) rem(20);

  border: 2px solid transparent;
  border-radius: $round-sm;

  transition: all $transition;

  cursor: pointer;

  @include bg-main;

  .icon {
    display: grid;
    place-content: center;
    font-size: inherit;
  }

  &:hover,
  &:focus-visible {
    @include text-color('info', '50');
    @include bg-color('info', '500');
    border-color: currentColor;
    outline-color: currentColor;
  }

  &--center {
    @include grid-center;
    width: rem(40);
    height: rem(40);
    padding: $spacer-sm;
  }

  &--main {
    @include text-color('primary', '50');
    @include bg-color('primary', '500');
    border-color: currentColor;
  }
  &--secondary {
    @include text-color('secondary', '900');
    @include bg-color('secondary', '500');
  }

  &--pill {
    padding: $spacer-xs $spacer-md;
    border-radius: rem(30);
  }

  &--round {
    @include flex-center;

    width: rem(40);
    height: rem(40);

    padding: 0;
    border-radius: 50%;
  }

  &--outline {
    background-color: transparent;
    border-color: currentColor;
  }

  &--transparent {
    background-color: transparent;
  }

  &--success {
    @include text-color('success', '900');
    @include bg-color('success', '500');
    border-color: currentColor;
  }

  &--icon {
    @include flex-wrap-row;
    align-items: center;
    gap: $spacer-xs;
  }

  &--frosted {
    @include frosted-glass($mid-gray);
  }

  &--small {
    padding: rem(4) rem(16);
  }
}
