@use 'partials' as *;

.container {
  width: 100%;
  max-width: rem(750);
  margin: 0 auto;

  @include screen(medium) {
    max-width: rem(1200);
  }

  @include screen(large) {
    max-width: rem(1440);
  }
  @include screen(x-large) {
    max-width: rem(1750);
  }
}

.section {
  margin: $spacer-2xl auto;
  padding: $spacer-xl $spacer-md;

  @include screen(medium) {
    padding: $spacer-2xl $spacer-xl;
  }
}

.wrapper {
  width: 100%;
  max-width: rem(750);

  &--text {
    width: 100%;
    max-width: 60ch;
  }
}
